/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
body {
	margin: 0;
}


header {
	background-color: red;
	display: flex;
	justify-content: space-around;
	padding: 1em;
}

header nav {
	background-color:red;
	
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	
	transform:translateY(-100%);
}

header nav.open {
	transform:translateY(0%);
	transition: .5s;
}

header form {
	transform:translateY(-200%);
}

header form.open {
	transform:translateY(0%);
}